@import "tailwindcss";

@theme {
  --color-primary: #ebff57;
  --font-space: "Space Grotesk", sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@font-face {
  font-family: "Space Grotesk";
  src: url("/SpaceGrotesk-VariableFont_wght.ttf");
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
