@import "tailwindcss";
@import "tailwind-scrollbar-hide/v4";

@theme inline {
  --font-space: "Space Grotesk", sans-serif;

  --color-background: var(--theme-color-background);
  --color-background2: var(--theme-color-background2);
  --color-background3: var(--theme-color-background3);
  --color-foreground: var(--theme-color-foreground);
  --color-primary: var(--theme-color-primary);
  --color-secondary: #1e293b;
}

@layer base{

  [data-theme="dark"] {
    --theme-color-background: oklch(13% 0.028 261.692);
  --theme-color-background2: #101828;
  --theme-color-background3: #1e2939;
  --theme-color-foreground: #fff;
  --theme-color-primary: #ebff57;
}

[data-theme="light"] {
  --theme-color-background: #ffffff;
  --theme-color-background2: #bebebe;
  --theme-color-background3: #bebebe;
  --theme-color-foreground: #000000;
  --theme-color-primary: #00df82;
}
}


@font-face {
  font-family: "Space Grotesk";
  src: url("/SpaceGrotesk-VariableFont_wght.ttf");
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
